<div class="container">
  <div class="row">
    <div class="col-12">
      <h1>WELCOME TO BURGERLAND</h1>
      <h2>WHERE YOU COME TO NOM NOM</h2>
    </div>
  </div>


  <div class="row">
    <div class="col-6">
      <form class="create-form">
        <h2>Add a Burger</h2>
        <form class="create-form">
          <div class="form-group">
            <label for="burger">Add a burger to our menu</label>
            <input type="text" id="burger" name="name">
          </div>
          {{#each allTheBurgers.burger}}
          <li>{{this.burger}}</li>
          {{/each}}
          <button class="add-burger" data-id="{{id}}">ADD IT</button>
        </form>
      </form>
    </div>

    <div class="col-6">
      <h2>Available Burgs'</h2>
      {{#each burger}}
      {{#unless this.devour}}

      <p> {{this.burger}} </p>
      <button class="eat-burger" data-id="{{id}}">DEVOUR IT</button>

      {{/unless}}
      {{/each}}
      <h3>Devoured Burgs'</h3>
      {{#each burger}}
      {{#if this.devour}}
      <p>{{this.burger}}</p>
      {{/if}}
      {{/each}}
    </div>
  </div>
</div>
